@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: linear-gradient(-10deg, transparent 10%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.25) 26%, transparent 26%, transparent 42%, rgba(255, 255, 255, 0.25) 42.1%, rgba(255, 255, 255, 0.25) 57%, transparent 57%, transparent 74%, rgba(255, 255, 255, 0.25) 74%, rgba(255, 255, 255, 0.25) 90%, transparent 90%), url("./media/massimiliano-morosinotto-1237156-unsplash.jpg");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: blanchedalmond;
}

body header {
  height: 8em;
}

body header #popMenu {
  position: fixed;
  top: 1.5em;
  left: 3em;
  z-index: 5;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  background-image: url("./media/my_logo_by_luneriane_d9mmunj-fullview.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0 0 2em rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 2em rgba(255, 255, 255, 0.5);
}

body header #popMenu:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 2em white;
          box-shadow: 0 0 2em white;
}

body header #popMenu ul {
  position: relative;
  margin-left: 110%;
  margin-top: 50%;
  list-style: none;
  width: 9em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
}

body header #popMenu ul li {
  padding: 0.1em 0.75em;
  line-height: 2em;
  border-radius: 0.2em;
}

body header #popMenu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
}

body header #popMenu ul li:hover {
  background-color: black;
}

body header #popMenu ul li:hover a {
  letter-spacing: 0.1em;
  color: gold;
  text-shadow: 0 0 0.75em gold;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5vw;
  width: 100%;
}

body header nav span {
  margin: 1em 2em;
  width: 9em;
}

body header nav span a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 0.5em white;
  line-height: 3em;
}

body header nav span a::before {
  content: "☽";
  margin-right: 0.75em;
}

body header nav span a:hover {
  letter-spacing: 0.1em;
  color: gold;
  text-shadow: 0 0 0.75em gold;
}

body h1, body h2, body h3 {
  font-family: 'Lobster', cursive;
}

body h1 {
  font-size: 3.5em;
  margin: 0 0 1em;
  text-align: center;
  text-shadow: 0 0 0.5em darkblue;
}

body h2 {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 1em;
}

body section {
  padding: 10vh 10vw;
  text-align: justify;
}

body #realisations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #realisations article {
  height: 30vh;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.75);
}

body #realisations article img {
  height: 100%;
}

body #realisations article p {
  display: inline-block;
  height: 100%;
  width: 100%;
}

body footer {
  background-color: rgba(0, 0, 0, 0.75);
}

body footer p {
  text-align: center;
  padding: 2em;
}
/*# sourceMappingURL=style.css.map */