* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./media/massimiliano-morosinotto-1237156-unsplash.jpg");
    background-size: cover;

    section {
        height: 100vh;
    }
}